<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team21">
        <activity
            android:name=".view.admin.changeQuantity.ChangeQuantityProductsActivity"
            android:exported="false" />
        <activity
            android:name=".view.admin.requests.AdminRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".view.admin.requests.NewRequestActivity"
            android:exported="false" />
        <activity
            android:name=".view.admin.deleteEmp.EmpInfo"
            android:exported="false" /> <!-- Remote / Existing Activities -->
        <activity
            android:name=".view.product.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.contact.editdata.Phone.PhoneActivity"
            android:exported="false" />
        <activity
            android:name=".view.contact.editdata.Email.EmailActivity"
            android:exported="false" />
        <activity
            android:name=".view.contact.editdata.Password.PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.contact.editdata.Username.UsernameActivity"
            android:exported="false" />
        <activity
            android:name=".view.contact.editdata.Address.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.EditData.UserEditDataActivity"
            android:exported="true" />
        <activity
            android:name=".view.customer.homePage.CustomerHomePageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.customer.FindProduct.CustomerFindProductActivity"
            android:exported="true" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true" /> <!-- Admin / Custom Activities -->
        <activity
            android:name=".view.admin.AdminPanelActivity"
            android:exported="true" />
        <activity
            android:name=".view.admin.data.AdminDataActivity"
            android:exported="false" />
        <activity
            android:name=".view.admin.createEmp.CreateEmplyeeActivity"
            android:exported="false" />
        <activity
            android:name=".view.admin.deleteEmp.DeleteEmployeeActivity"
            android:exported="true" /> <!-- Delete Employee Activity Layout Example -->
        <activity
            android:name=".view.admin.requests.RequestsActivity"
            android:exported="false" />
    </application>

</manifest>