<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team21">

        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.user.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".view.customer.register.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".view.customer.homePage.CustomerHomePageActivity"
            android:exported="true" />
        <activity
            android:name=".view.customer.FindProduct.CustomerFindProductActivity"
            android:exported="true" />
        <activity
            android:name=".view.customer.ShoppingCart.CustomerShoppingCartActivity"
            android:exported="true" />
        <activity
            android:name=".view.customer.Payment.CustomerPaymentActivity"
            android:exported="true" />
        <activity
            android:name=".view.customer.Payment.CustomerCardPaymentActivity"
            android:exported="true" />
        <activity
            android:name=".view.customer.EmailList.CustomerEmailListActivity"
            android:exported="true" />

        <activity
            android:name=".view.user.EditData.UserEditDataActivity"
            android:exported="true" />
        <activity
            android:name=".view.user.emailComposition.EmailCompositionActivity"
            android:exported="true" />
        <activity
            android:name=".view.product.ProductDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".view.order.orderDetails.OrderDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".view.contact.emailDetails.EmailDetailsActivity"
            android:exported="true" />

        <activity
            android:name=".view.contact.editdata.Phone.PhoneActivity"
            android:exported="true" />
        <activity
            android:name=".view.contact.editdata.Email.EmailActivity"
            android:exported="true" />
        <activity
            android:name=".view.contact.editdata.Password.PasswordActivity"
            android:exported="true" />
        <activity
            android:name=".view.contact.editdata.Username.UsernameActivity"
            android:exported="true" />
        <activity
            android:name=".view.contact.editdata.Address.AddressActivity"
            android:exported="true" />

        <activity
            android:name=".view.employee.deliverer.delivererMenu.DelivererMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.employee.deliverer.delivererOrdersList.DelivererOrdersListActivity"
            android:exported="true" />

        <activity
            android:name=".view.employee.updateCatalogueEmployee.catalogueUpdates.executeDeleteProduct.ExecuteDeleteProductActivity"
            android:exported="true" />
        <activity
            android:name=".view.employee.updateCatalogueEmployee.catalogueUpdates.executeProcessProduct.ExecuteProcessProductActivity"
            android:exported="true" />
        <activity
            android:name=".view.employee.updateCatalogueEmployee.catalogueUpdates.executeInsertProduct.ExecuteInsertProductActivity"
            android:exported="true" />
        <activity
            android:name=".view.employee.updateCatalogueEmployee.assignedRequestsToExecute.AssignedRequestsToExecuteActivity"
            android:exported="true" />
        <activity
            android:name=".view.employee.updateCatalogueEmployee.availableRequestsToAssign.AvailableRequestsToAssignActivity"
            android:exported="true" />
        <activity
            android:name=".view.employee.updateCatalogueEmployee.updateCatalogueEmployeeMenu.UpdateCatalogueEmployeeMenuActivity"
            android:exported="true" />

        <activity
            android:name=".view.employee.orderPreparationEmployee.orderPreparationDetails.OrderPreparationDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".view.employee.orderPreparationEmployee.orderPreparationEmployeeMenu.OrderPreparationEmployeeMenuActivity"
            android:exported="true" />
        <activity
            android:name=".view.employee.orderPreparationEmployee.assignedOrdersToPrepare.AssignedOrdersToPrepareActivity"
            android:exported="true" />
        <activity
            android:name=".view.employee.orderPreparationEmployee.availableOrdersToAssign.AvailableOrdersToAssignActivity"
            android:exported="true" />

        <activity
            android:name=".view.employee.customerServiceEmployee.orderStatus.OrderStatusActivity"
            android:exported="true" />
        <activity
            android:name=".view.employee.customerServiceEmployee.customerServiceEmployeeEmailList.CustomerServiceEmployeeEmailListActivity"
            android:exported="true" />
        <activity
            android:name=".view.employee.customerServiceEmployee.customerServiceEmployeeMenu.CustomerServiceMenuActivity"
            android:exported="true" />

    </application>

</manifest>